header{background:#003ed1;}

.top-bar {
  padding:0px;
  font-size: 12px;
  border-bottom: .4px solid #003ed1;
  min-height: 40px;
}

.main-header {
  padding: 20px 0 25px;
}

.site-title {
  color: #fff;
}